extends ../../common/layout

block layout-content 
  h1 Category List
  div.addback
    a.addButton(href="/admin/category/add") Add Category
    a.backButton(href="/admin/admin") Back

  table
    thead
      tr
        th ID
        th Category Name
        th Parent Category ID
        th Actions
    tbody
      each category in categories
        tr
          td #{category._id}
          td #{category.category}
          td #{category.parent_category_id || 'None'}
          td 
            a.updateButton(href=`/admin/category/update/${category._id}`) Update
            a.deleteButton(href=`/admin/category/delete/${category.category}`) Delete
            //- form.deleteform(action="/admin/category/delete/#{category._id}?_method=DELETE", method="POST")
            //-   button.deleteButton(type="submit", onclick="return confirm('Are you sure?')") Delete
